.navbar {
    background-color: rgb(223, 170, 170);
    display: flex;
    justify-content: space-evenly;
}
a{
    text-decoration: none;
    color: red;
    
}
li{
    list-style-type: none;
    /* bullet ko remove krta hai */
 
} 



/* display:flex;
    justify-content:center; 
    align-items:center; */



    /* align-items : container
    or align-self : individual so more preority */